.new-character {
    position: relative;
}

.new-character-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.new-character-image {
    width: 80%;
    height: 80%;
}

.new-character-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.new-character-name-container a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-character-name-container a img {
    width: 50%;
}


