/* Colors */
:root {
    --text-color: #fdfdff;
    --background-dark: #1b1b1e;
    --background-light: #373F51;
    --header-bg-color: var(--background-dark);

    /* Characters */
    --color-castorice: rgb(90, 55, 147);
    --color-castorice-light: #bb85ea;

    /* Shadow */
    --color-shadow: #1b1b1e;
}