.container {
    padding: 20px;

    &__containertext {
        padding: 1vh;
    }
        &__text p {
            font-size: calc(24 * var(--font-size-res));
            text-align: center;
            font-weight: bold;
            color: var(--text-color);
        }
}