#header {
    position: sticky;
    top: var(--header-position-top);
    z-index: var(--header-z-index);
}


.header-background {
    background-color: var(--header-bg-color);
    box-shadow: var(--header-box-shadow);
    padding: var(--header-padding);
    width: var(--header-width);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title img {
    height: var(--header-logo-title-height);
    width: var(--header-logo-title-width);
    margin-left: var(--header-logo-title-margin-left);
    margin-top: var(--header-logo-title-margin-top);

    // @media (max-width: 480px) {
    @include media-max('phone-down') {
        display: none;
    }
}

.header-logo img {
    height: var(--header-logo-size);
    width: var(--header-logo-size);
}

.header-container ul li {
    list-style: none;
    display: inline-block;

    @media (max-width: 1200px) {
        display: none;
        }
}

.header-container ul li a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    margin-right: var(--header-text-margin);
    margin-left: var(--header-text-margin);
    background-color: var(--background-light);
    border-radius: var(--header-text-border-radius);
    padding-left: var(--header-text-padding-lr);
    padding-right: var(--header-text-padding-lr);
    padding-top: var(--header-text-padding-tb);
    padding-bottom: var(--header-text-padding-tb);
}

.header-hamburger-menu {
    display: none;
    align-items: center;
    width: var(--header-logo-size);
    height: var(--header-logo-size);

    @media (max-width: 1200px) {
        display: flex;
    }
}